---
const { title, text, direction, link, linkText, theme } = Astro.props;
---

<div
  class="display-card w-full py-10 relative my-14"
  class:list={[theme, direction]}
>
  <div class="background-box"></div>
  <div class="relative">
    <h3 class="text-5xl font-bold mb-5">{title}</h3>
    <p>{text}</p>
  </div>
  <div class="sparkles-container">
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
  </div>
</div>

<style lang="scss">
  .display-card {
    &.yellow {
      .background-box {
        border-color: #f7e733;
      }
    }

    &.red {
      .background-box {
        border-color: #e86a92;
      }

      .sparkle {
        background-color: #f7e733;
      }
    }
  }

  .background-box {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    border: 16px solid #41e2ba;
  }

  .sparkles-container {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: 0;

    .sparkle {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      left: 10px;
      top: 20px;
      background-color: #e86a92;
      animation: SparkleOne 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;

      &:nth-child(2) {
        width: 16px;
        height: 16px;
        left: 45px;
        top: 50px;
        animation: SparkleTwo 1200ms cubic-bezier(0.215, 0.61, 0.355, 1)
          forwards;
      }

      &:nth-child(3) {
        width: 8px;
        height: 8px;
        left: auto;
        right: 10px;
        top: 30px;
        animation: SparkleThree 1500ms cubic-bezier(0.215, 0.61, 0.355, 1)
          forwards;
      }
    }
  }

  @keyframes SparkleOne {
    from {
      opacity: 0;
      transform: translateY(50px) rotate(-2deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(-45deg);
    }
  }

  @keyframes SparkleTwo {
    from {
      opacity: 0;
      transform: translateY(80px) rotate(-45deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(-125deg);
    }
  }

  @keyframes SparkleThree {
    from {
      opacity: 0;
      transform: translateY(100px) rotate(-10deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(-75deg);
    }
  }
</style>
