---
const { title, text, direction, link, linkText, theme } = Astro.props;
---

<div
  class="display-card w-full py-10 relative my-14"
  class:list={[theme, direction]}
>
  <div class="background-box"></div>
  <div class="relative">
    <h3 class="text-3xl font-bold mb-5">{title}</h3>
    <p>{text}</p>
    {
      link ? (
        <div class="relative">
          <a href={link} class="card-link inline-block relative px-5 py-3">
            {linkText}
          </a>
        </div>
      ) : (
        ''
      )
    }
  </div>
  <div class="sparkles-container">
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
  </div>
</div>

<style lang="scss">
  .display-card {
    .background-box {
      opacity: 0;
    }

    &.active {
      .background-box {
        animation: BoxRise 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      }

      .sparkle {
        animation: SparkleOne 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 1000ms
          forwards;

        &:nth-child(2) {
          animation: SparkleTwo 1200ms cubic-bezier(0.215, 0.61, 0.355, 1)
            1000ms forwards;
        }
        &:nth-child(3) {
          animation: SparkleThree 1500ms cubic-bezier(0.215, 0.61, 0.355, 1)
            1000ms forwards;
        }
      }

      &.left {
        .sparkles-container {
          right: auto;
          left: 5%;
        }
      }
    }

    &.yellow {
      .background-box {
        border-color: #fff586;
      }
    }

    &.red {
      .background-box {
        border-color: #e86a92;
      }

      .sparkle {
        background-color: #fff586;
      }
    }
  }

  .background-box {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    border: 16px solid #41e2ba;
  }

  .card-link {
    background-color: #41e2ba;
  }

  .sparkles-container {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -50px;
    right: 0;

    .sparkle {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      left: 10px;
      top: 20px;
      background-color: #41e2ba;
      opacity: 0;

      &:nth-child(2) {
        width: 16px;
        height: 16px;
        left: 45px;
        top: 50px;
      }

      &:nth-child(3) {
        width: 8px;
        height: 8px;
        left: auto;
        right: 10px;
        top: 30px;
      }
    }
  }

  @keyframes SparkleOne {
    from {
      opacity: 0;
      transform: translateY(50px) rotate(-2deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(-45deg);
    }
  }

  @keyframes SparkleTwo {
    from {
      opacity: 0;
      transform: translateY(80px) rotate(-45deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(-125deg);
    }
  }

  @keyframes SparkleThree {
    from {
      opacity: 0;
      transform: translateY(100px) rotate(-10deg);
    }
    to {
      opacity: 1;
      transform: translateY(0) rotate(-75deg);
    }
  }

  @keyframes BoxRise {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 0.5;
      transform: translateY(0);
    }
  }
</style>
